<div class="col-md-3 col-sm-3 col-xs-12 sidenav">
    <a href="/">
        <img src="images/logo.jpg" alt="OMP-SGS" class="logo">
    </a>
    <ul class="nav nav-pills nav-stacked text-align-center">
        <li><a href="/">Home</a></li>
        <li><a href="/saiba-mais">Saiba Mais</a></li>
        <li><a href="/sobre-nos">Sobre Nós</a></li>
    </ul>
</div>
<br><br>