<!DOCTYPE html>
<html lang="pt-br">
<head>
    <% include ../partials/head.ejs %>
</head>
<body>
    <div class="container-fluid">
        <div id="loader" style="display: none;"></div>
        <div class="row content" id="corpoInteiro">
            <% include ../partials/navbar.ejs %>
            <div class="col-md-9 col-sm-9 col-xs-12">
                <div class="clearfix"></div>
				<div class="col-md-8 col-sm-6 col-xs-12">
                    <div id="chart">This will be our bar chart</div>
                </div>
                <div class="col-md-4 col-sm-6 col-xs-12">
                        <div class="col-md-6 col-sm-6 col-xs-12">
                            <div id="imageDiv">
                                <img id="sourceImage" class="img-responsive"/>
                            </div>
                        </div>
                        <div class="col-md-6 col-sm-6 col-xs-12">
                            <div id="imageDiv">
                                <img id="sourceImage2" class="img-responsive"/>
                            </div>
                        </div>
                        <div class="col-md-6 col-sm-6 col-xs-12">
                            <div id="imageDiv">
                                <img id="sourceImage3" class="img-responsive"/>
                            </div>
                        </div>
                        <div class="col-md-6 col-sm-6 col-xs-12">
                            <div id="imageDiv">
                                <img id="sourceImage4" class="img-responsive"/>
                            </div>
                        </div>
                        <div class="col-md-6 col-sm-6 col-xs-12">
                            <div id="imageDiv">
                                <img id="sourceImage5" class="img-responsive"/>
                            </div>
                        </div>
                        <div class="col-md-6 col-sm-6 col-xs-12">
                            <div id="imageDiv">
                                <img id="sourceImage6" class="img-responsive"/>
                            </div>
                        </div>
                </div>
            </div>
        </div>
	</div>
	<p id="listinha" style="display: none">
        <% fotos.forEach(function(foto) { %>
            <%=foto %>,
        <% }); %>
    </p>

    <script src="../../Scripts/bar.js"></script>
	<script>
		var lista = $("#listinha").html(); 
		var listinha = lista.split(",");

		$(document).ready(function(){
			caller(listinha);
        });
        $(window).resize(function(){
            drawChart();
        });
	</script>
</body>
</html>
