<!DOCTYPE html>
<html lang="pt-br">
<head>
    <% include ../partials/head.ejs %>
</head>
<body>
    <div class="container-fluid">
        <div id="loader" style="display: none;"></div>
        <div class="row content" id="corpoInteiro">
            <% include ../partials/navbar.ejs %>

            <div class="col-md-9 col-sm-9 col-xs-12">
                <section class="text-align-center">
                    <h2>Saiba Mais</h2>
                    <div class="col-md-8 col-md-offset-2 col-sm-10 col-sm-offset-1 col-xs-12 col-xs-offset-0 text-align-justify">
                        <p>A análise de imagens com visão computacional é um tema com cada vez mais relevância, um exemplo disto é que tais análises já têm sido utilizadas em aplicações de diversas áreas como: Agricultura, tráfego de veículos e pessoas, e seleção de objetos com base em padrões.</p>
                        <p>Existem atualmente algumas APIs (interfaces de programação de aplicativos) que nos possibilitam reconhecer pessoas e objetos dentro de imagens. Alguns exemplos que podem ser citados são a Google Cloud Vision API e a Microsoft Computer Vision API. Tais APIs têm em comum a capacidade de fornecer aos desenvolvedores recursos para que seus programas possam entender o conteúdo de uma imagem por meio do encapsulamento de poderosos modelos de aprendizado de máquina em uma API REST fácil de usar. Ambas rapidamente classificam as imagens em milhares de categorias e tags, detectam objetos e rostos individuais, extraem palavras contidas nas imagens e, no caso da Microsoft Computer Vision API, pode até fazer uma descrição em texto corrido do que há na imagem. As duas APIs supracitadas foram testadas durante a construção do projeto, porém, a API da Microsoft foi escolhida por apresentar resultados mais precisos.</p>
                        <p>O sistema desenvolvido e descrito neste trabalho foi chamado de “OMP-SGS: o que a Microsoft pensa sobre o que o Google sabe sobre você”. A ideia geral do projeto é processar - através de uma biblioteca de reconhecimento de elementos dentro de imagens - as fotos que aparecem no Google Images ao pesquisar por uma pessoa e retornar ao usuário as tags/elementos que mais aparecem nas imagens por meio de um gráfico de barras onde as tags serão relacionadas com a porcentagem de vezes que elas aparecem entre as imagens previamente analisadas. De tal forma pode ser identificado um padrão entre os elementos presentes e através da análise do gráfico e das porcentagens podem ser previstas tags / elementos que aparecerão em outras fotos que um certo indivíduo tirará.</p>
                        <div class="saiba-mais">
                            <a class="btn btn-default" href="#">Leia o Relatório Completo</a>
                        </div>
                    </div>
                </section>
            </div>
        </div>
    </div>
</body>
</html>